<app-navbar></app-navbar>
<header class="header container-fluid">    
    <div class="text-box">
        <h2>WELCOME TO ADVENTURE LAND</h2>
       <div class="button">
        <a [routerLink]="['/book']"><button>
            Book Now
        </button>
        </a>
       </div>
    </div>
</header>
<div class="text">
<h2 class="animate">Adventure Land - The Largest Theme Park in the World</h2>
<h3 class="animate">Step into a world of magic, where joy springs to life!</h3>
<h6 class="animate">We are so much more than an amusement park - a world where everyone comes together and enjoys the little moments.
    A life of fun is what everyone deserves, so come on down to the Adventure Land closest to you!</h6>
</div>
<hr>
<div class="hero">
    <ul class="slider">
        <li class="slide s1"></li>
        <li class="slide s2"></li>
        <li class="slide s3"></li>
        <li class="slide s4"></li>
        <li class="slide s5"></li>
      </ul>    
</div>
<br>
<hr>
<h2 class="til">Mega Thrillers at The Adventure Land </h2>
<div class="images">
    <div class="image-left">
        <img src="slide5.jpg" width="600px" height="420px">
    </div>
    <div class="image-right">
        <div class="each-img">
            <img src="slide1.jpg" width="300px"  height="200px">
        </div>
        <div class="each-img">
            <img src="slide3.jpg" width="300px"  height="200px">
        </div>
         <div class="each-img">
            <img src="slide2.jpg" width="300px"  height="200px">
        </div>
        <div class="each-img">
            <img src="slide4.jpg" width="300px"  height="200px">
        </div>
    </div>
 </div>
<br>
<br>
<div class="vdo">
    <iframe id="iframe1" width="560" height="215" id="iframe1" src="https://www.youtube.com/embed/Rvh2LIXpC6E?start=71" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe id="iframe2" width="460" height="215" src="https://www.youtube.com/embed/2EPxYQOLaYc?start=71" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe id="iframe3" width="460" height="215" src="https://www.youtube.com/embed/QJE7uweArOE?start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>    
<br>
<br>
<hr>

<app-footer></app-footer>