.form {
    width: 400px;
    /* margin: 0 auto ; */
    padding: 20px;
    background-color:rgba(78, 165, 237, 0.769);
    height: 580px;
  }
  .form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .box{
    padding: 10px;
    border: 1px solid #151515;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
  }