<!--HamBurger Icon-->
<div class="bars" id="nav-action">
    <span class="bar"> </span>
  </div>
  
  <!--Navbar Links-->
  <nav id="nav">
    <ul>
      <li class="shape-circle circle-one"><a [routerLink]="['']">Logout</a></li>
      <li class="shape-circle circle-two"><a [routerLink]="['/adminland']">Water Rides</a></li>
      <li class="shape-circle circle-three"><a [routerLink]="['/adminland']">Land Rides</a></li>
      <li class="shape-circle circle-five">
        <a [routerLink]="['/adminhome']">Book Detail</a>
      </li>
    </ul>
  </nav>
