<!-- 
<div class="container">
    <div class="modal fade" id="updateModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Rides Details</h5>
            <button type="button" class="close btn btn-danger" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form #form="ngForm">
            
             <div class="form-group">
                <label>Ride Name:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="rides.landrideName">
              </div> -
              <div class="form-group">
                <label>Ride Name:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="rides.landrideName">
              </div>

              <div class="form-group">
                <label>Ride status:</label>
                <input type="text" class="form-control" name="status" [(ngModel)]="rides.rideStatus">
              </div>
              <div class="form-group">
                <label >Ride Image</label>
                <input type="string" class="form-control" name="image" [(ngModel)]="rides.rideImage">
              </div>
              
        
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="updateTrainer(id)">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
